extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each message in messages
      li
        span=message.user
        span= ' [' + message.added + ']: '
        span=message.text
